.theme-switcher {
  &__button {
    display: flex;
  }


  &__tooltip {
    .rc-tooltip-inner {
      font-size: 0.8rem;
      background-color: rgba(0, 0, 0, 0.75);
      border-radius: 5px;
      box-shadow: none;
      padding: 7px;
      min-height: 30px;
    }

    .rc-tooltip-arrow {
      border-right-color:rgba(0, 0, 0, 0.75);
    }
  }
}