.quotes {
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &__message {
    max-width: 500px;
  }

  &__author {
    font-style: oblique;
  }
}
