.quotes {
  min-height: 3em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  line-height: 1.5em;

  &__message {
    max-width: 500px;
  }

  &__author {
    font-style: oblique;
  }
}
