.calendar-item {
  display: block;
  position: relative;
  font-size: 1.1rem;
  background-color: var(--bg-color-6);
  margin-bottom: 0.5rem;
  border-radius: 4px;
  padding: 0.5rem 1rem;


  &__title {
    padding: 0.25rem 0;
    font-weight: 500;
    line-height: 1.25rem;
  }

  &__details {
    display: flex;
    flex-direction: row;
    font-size: 0.85rem;
    justify-content: space-between;
    color: var(--text-color-2);
  }

  &__link {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    color: var(--text-color-3);

    &:hover {
      color: var(--text-color-2);
    }
  }
}
