.sync {
  &__not-logged-in {
    animation: blink ease 1s 5;
  }

  &__syncing {
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}
