.prompt {
  background-color: var(--bg-color-6);
  border-radius: 5px;
  overflow: hidden;
  width: 500px;
  min-height: 200px;
  padding: 2rem;
  z-index: 100;

  &:focus {
    outline: none;
  }

  &__title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }

  &__label {
    display: block;
    margin-bottom: 0.5rem;
  }

  &__delete {
    padding: 0.5rem 1rem;
    background-color: var(--bg-color-2);
    border-radius: 5px;
    color: var(--color-6);
    font-weight: 500;
    transition: color 100ms ease, background-color 100ms ease;

    &:hover {
      color: #fff;
      background-color: var(--color-danger);
      opacity: 1;
    }
  }

  &__input {
    width: 100px;
    font-size: 1.25rem;
    display: block;
    width: 100%;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
    margin-bottom: 1.5rem;
    background-color: var(--bg-color-2);
    border: 0;
    padding: 0.5rem 1rem;
  }

  &__submit {
    display: block;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    color: #fff;
    border-radius: 5px;
    background-color: var(--color-success);
  }
}
