.login-modal {
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg-color);
  border-radius: 5px;
  box-shadow: rgba(83, 70, 35, 0.15) 0px 2px 8px, rgba(83, 70, 35, 0.15) 0px 1px 3px; 
  overflow: hidden;
  width: 600px;
  min-height: 250px;
  padding: 2rem;


  &:focus {
    outline: none;
  }

  &__title {
    font-size: 1.75rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  &__description {
    margin-bottom: 1rem;
    flex-grow: 1;
  }

  &__btn-proceed {
    background-color: var(--success-color);
    margin: 0 auto;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
  }
}