.welcome {
  text-align: center;
  font-size: 2.25em; // relative to parent
  margin-bottom: 1rem;

  &__name {
    font-weight: 500;
    padding: 0 0.75rem;
    text-transform: capitalize;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  &__inp-name {
    display: block;
    text-align: center;
    margin: 0 auto;
    background: transparent;
    border-bottom: 3px solid var(--main-text-color);
  }
}