.welcome {
  text-align: center;
  font-size: 4em; // relative to parent
  height: 10rem;
  display: flex;
  justify-content: center;
  flex-direction: column;


  &__name {
    font-weight: 500;
    padding: 0 0.75rem;
    text-transform: capitalize;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  &__inp-name {
    font-size: 3rem;
    display: block;
    text-align: center;
    margin: 0 auto;
    background: transparent;
    border-bottom: 3px solid var(--text-color);
  }
}