.sync-info {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 0 0.5rem 0 0.75rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  // background-color: var(--card-item-color);

  &__message {
    margin: 0 0.5rem;
  }

  &__syncing {
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  &__btn-login {
    padding: 0.5rem 1rem;
    font-weight: 500;
    line-height: 1rem;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    opacity: 1;
    // margin-left: 0.5rem;

    &:hover {
     background-color: rgba(255, 255, 255, 0.4);
    }
  }

  &__time {
    display: flex;
    align-items: center;
  }

  &__user-info {
    font-size: 0.9rem;
  }
}
