.todo-item {
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  z-index: 3;

  .state {
    opacity: 0.75;

    label:before {
      border-color: var(--text-color-6);
    }
  }

  &__title {
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding: 0.5rem 0;
    padding-right: 0.5rem;
  }

  &__drag-handle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2px;
    cursor: grab;
  }

  &__edit {
    margin: 0 0.75rem;
  }
  
  &__edit, &__drag-handle {
    visibility: hidden;
    opacity: 0;
    transition: visibility .5s linear 0.5s;
  }

  &:hover {
    background-color: var(--bg-color-3);
    cursor: default;

    .todo-item__edit, .todo-item__drag-handle {
      opacity: 1;
      visibility: visible;
    }
  }

  &--completed {
    .todo-item__title {
      text-decoration: line-through;
      font-style: oblique;
    }
  }

  &--dragged {
    background-color: rgba(0, 0, 0, 0.5);
  }
}