.weather {
	font-size: 1.25rem;

	&__temperature {
		font-weight: 500;
		padding: 3px;
	}

	&__city {
		padding: 3px;
	}

	&__enable {
		font-size: 1.2rem;
		font-weight: 500;
		text-align: center;
    width: 100%;

		&:hover {
			text-decoration: underline;
		}
	}

}
