@import "~tailwindcss/dist/base";
@import "~tailwindcss/dist/utilities";
@import "~pretty-checkbox/src/pretty-checkbox.scss";
@import "./animations.scss";

button,
input {
  &:focus,
  &:active {
    outline: none;
  }
}


*::-webkit-scrollbar {
	width: 0.5rem;
}
 
*::-webkit-scrollbar-track {
	background-color: var(--bg-color-3);
	box-shadow: none;
}
 
*::-webkit-scrollbar-thumb {
	background-color: var(--bg-color-2);
	border-radius: 2px;
}
