@import "~tailwindcss/dist/base";
@import "~tailwindcss/dist/utilities";
@import "~pretty-checkbox/src/pretty-checkbox.scss";
@import "./animations.scss";

button,
input {
  &:focus,
  &:active {
    outline: none;
  }
}

html,
body {
	--bg-color: #303133;
	--bg-color-2: #1e1e1e;
	--bg-color-3: #242424;
	--bg-color-4: #272727;
	--bg-color-5: #2a2a2a;
	--bg-color-6: #2C2C2C;
	--text-color: #fff;
	--text-color-2: rgba(255, 255, 255, 0.9);
	--text-color-3: rgba(255, 255, 255, 0.75);
	--text-color-4: rgba(255, 255, 255, 0.65);
	--text-color-5: rgba(255, 255, 255, 0.5);
	--text-color-6: rgba(255, 255, 255, 0.5);

	--color-primary: #2980b9;
	--color-warning: #e67e22;
	--color-success: #074b23;

	cursor: default;
}

*::-webkit-scrollbar {
	width: 0.5rem;
}
 
*::-webkit-scrollbar-track {
	background-color: var(--bg-color-3);
	box-shadow: none;
}
 
*::-webkit-scrollbar-thumb {
	background-color: var(--bg-color-2);
	border-radius: 2px;
}
