	.links {
    width: 100%;
    padding: 0 1.25rem;


    &__items {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 0 -10px;

      &::after {
        content: "";
        flex: auto;
      }
    }
    

    &__item, &__create {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 100px;
      width: 100px;
      background-color: var(--card-bg-color);
      font-size: 0.9rem;
      color: var(--card-text-color);
      border-radius: 5px;
      justify-content: space-between;
      padding: 0.5rem;
      opacity: 0.95;
      margin: 0 5px 10px 5px;

      &:hover {
        opacity: 1;

        .links__item-delete {
          display: block;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &__create {
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 1.25rem;
      margin-right: 0;
    }

    &__item-image {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 50px;
        width: 50px;

        &.not-found {
          display: none;
        }
      }
    }

    &__item-image-alphabet {
      display: none;
      font-size: 3rem;
      font-weight: 500;
      text-transform: uppercase;
    }

    &__item-image.not-found + &__item-image-alphabet {
      display: block;
    }

    &__item-name {
      text-align: center;
      text-transform: capitalize;
      white-space: nowrap;
      overflow: hidden;
    }

    &__item-delete {
      position: absolute;
      top: 3px;
      right: 3px;
      display: none;
    }

    &__switch {
      height: 20px;

      button {
        margin: 0.5rem 0;
        font-size: 0.9rem;
        font-weight: 500;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
	}