.card {
  background-color: var(--card-bg-color);
  border-radius: 5px;
  overflow: hidden;
  // box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  height: 100%;
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 1.75rem;
    padding: 2rem 1.5rem;
    font-weight: 500;
    line-height: 2rem;

    display: flex;
    justify-content: space-between;
  }

  &__actions {
    display: flex;
  }

  &__content {
    min-height: 250px;
    min-width: 300px;
    flex-grow: 1;
  }
}