.card {
  background-color: var(--card-bg-color);
  border-radius: 5px;
  overflow: hidden;
  // box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  height: 100%;
  display: flex;
  flex-direction: column;

  transform: translateY(0);
  transition: transform 0.5s;

  &.not-visible {
    transform: translateY(300px);
  }

  &__title {
    font-size: 1.75rem;
    padding: 1.5rem 1.5rem;
    font-weight: 500;
    line-height: 2rem;

    display: flex;
    justify-content: space-between;
  }

  &__actions {
    display: flex;
  }

  &__content {
    min-height: 250px;
    min-width: 300px;
    flex-grow: 1;
  }
}



// .skeleton-box {
//   display: inline-block;
//   height: 1em;
//   position: relative;
//   overflow: hidden;
//   background-color: var(--card-item-color);
//   border-radius: 5px;

//   &::after {
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     transform: translateX(-100%);
//     background-image: linear-gradient(
//       90deg,
//       rgba(#fff, 0) 0,
//       rgba(#fff, 0.2) 20%,
//       rgba(#fff, 0.5) 60%,
//       rgba(#fff, 0)
//     );
//     animation: shimmer 1s infinite;
//     content: '';
//   }

//   @keyframes shimmer {
//     100% {
//       transform: translateX(100%);
//     }
//   }
// }