.card {
  background-color: var(--bg-color-2);
  color: var(--text-color);
  border-radius: 5px;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  transform: translateY(0);
  transition: transform 0.5s;

  &.not-visible {
    transform: translateY(300px);
  }

  &__title {
    font-size: 1.75rem;
    padding: 1.5rem 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    display: flex;
    justify-content: space-between;
  }

  &__actions {
    display: flex;
  }

  &__content {
    min-width: 300px;
    flex-grow: 1;
  }
}
