.tips {
  border-radius: 5px;
  background-color: var(--secondary-color);
  padding: 3px;

  &__message {
    padding: 0.4rem 0.5rem;
  }
  
  &__btn-action {
    font-weight: 500;
    background-color: var(--secondary-color-active);
    padding: 0 1rem;
    line-height: 2rem;
    border-radius: 3px;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }
}
