.calendar {
  min-width: 270px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  align-items: center;
  background-color: var(--card-item-color);

  &__events {
    width: 100%;
    flex-grow: 1;
    padding: 1rem;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  &__no-events {
    font-size: 1.1rem;
  }

  &__group {
    margin-bottom: 2rem;
  }

  &__group-name {
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  &__enroll {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    padding: 1rem;
    text-align: center;
  }

  &__btn-sign-in {
    background-image: url('/assets/btn_google_signin_light_normal_web@2x.png');
    background-size: contain;
    width: 200px;
    height: 49px;
    margin: 1rem;

    &:hover {
      background-image: url('/assets/btn_google_signin_light_pressed_web@2x.png');
    }
  }

  &__enroll-error {
    color: var(--danger-color);
  }
}
