.todo-list {
  min-width: 270px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 400px;

  
  &__items {
    flex-grow: 1;
    padding: 0.5rem 0;
    overflow-y: scroll;
    background-color: var(--card-item-color);
    scroll-behavior: smooth;
  }

  &__create {
    width: 100%;
    padding: 0.75rem;
    background-color: var(--card-item-color-active);
  }

  &__create-input {
    padding: 0.75rem;
    background-color: var(--card-item-color);
    width: 100%;
    font-size: 1.1rem;
    line-height: 1rem;
    border-radius: 3px;

    &:focus, &:hover {
      outline-color: var(--card-item-color);
    }
  }
}
