.ck-content {
  flex-grow: 1;
  outline: none;
  height: 100%;
  padding-bottom: 2rem !important;
  overflow: hidden;

  &.ck-focused {
    border: 1px solid transparent !important;
    box-shadow: inset 0 0 5px var(--card-item-color) !important;
  }

  h2 {
    font-size: 1.75rem;
    font-weight: 500;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 500;
  }

  h4 {
    font-size: 1.1rem;
  }

  ul {
    list-style-type: disc;
    margin: 1rem;
    padding: 0 1rem;
  }

  ol {
    list-style-type: decimal;
    margin: 1rem;
    padding: 0 1rem;
  }

  a {
    color: #2980b9;
  }
}