.footer {
  display: flex;
  padding: 0.5rem;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;


  &__right {
    display: flex;
    align-items: center;

    div {
      margin-left: 10px;
    }
  }
  
  &__toggles {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__btn {
    font-weight: 500;
    background-color: var(--card-item-color);
    padding: 0 1rem;
    line-height: 2rem;
    border-radius: 3px;

    &:hover {
      background-color: var(--card-item-color-active);
    }
  }
}
