.footer {
  display: flex;
  padding: 1rem;
  align-items: center;
  width: 100%;
  width: 100%;

  &__btn {
    font-weight: 500;
    background-color: var(--secondary-color);
    padding: 0 1rem;
    line-height: 2rem;
    border-radius: 3px;

    &:hover {
      background-color: var(--secondary-color-active);
    }
  }

  &__sync-info {
    vertical-align: baseline;
  }

  &__syncing {
    svg {
      display: inline;
      margin: 0 5px;
      animation-name: spin;
      animation-duration: 1000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }

  &__sync-error {
    svg {
      display: inline;
      margin: 0 5px;
    }
  }

  &__toggles {
  }
}
