.home {
	min-height: 100%;
	width: 100%;
	padding: 2rem;

	&__widgets {
		max-width: 1000px;
		margin: 0 auto;
		margin-top: 20rem;
		display: flex;
		flex-direction: row;
	}

	&__time {
		position: absolute;
		top: 1rem;
		right: 0;
	}
}
