.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__content {
    padding-bottom: 5rem;
    max-width: 900px;
    min-width: 800px;
    min-height: 500px;
    width: 80%;
  }

  &__welcome {
    display: flex;
		align-items: center;
		justify-content: center;

    transition: height 100ms linear;
  }

  &__time {
		position: absolute;
		top: 0;
		right: 0;
		padding: 1rem 2rem;
		text-align: right;
	}

  &.inspire {
    .home__welcome {
			height: calc(100vh - (100px + 2rem));
    }

    .home__welcome, .home__time {
      color: var(--inverted-text-color);
    }
  }

  &.focus {
    .home__welcome {
      height: 10rem;
      margin: 5rem 0;
    }
  }
}
