.home {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: column;

	&__content {
    display: flex;
		flex-direction: column;
    max-width: 1000px;
		min-width: 800px;
		min-height: 600px;
		width: 80%;
	}

	&__welcome {
		margin-top: 3rem;
	}

	&__widgets {
		height: 35rem;
		display: flex;
		flex-direction: row;
		margin: 2rem 0;
	}

	&__notes {
		width: 70%;
	}

	&__todo {
		width: 30%;
	}

	&__quotes {
		height: 50px;
	}

	&__time {
		position: absolute;
		top: 0;
		right: 0;
		padding: 1rem 2rem;
		text-align: right;
	}
}
