@import '../../styles/animations.scss';


.background {
  --bg-opacity: 1;

  background: var(--bg-color);
  position: relative;
  width: 100%;
  height: 100%;


  &__image {
    @include fade-in(0.5s);

    opacity: var(--bg-opacity);
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__content {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  // &__image + &__content {
  //   background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.25));
  // }
}
