@import "../../styles/animations.scss";

.background {
  --bg-opacity: 1;

  background: var(--bg-color);
  position: relative;
  width: 100%;
  height: 100%;

  &__image {
    @include fade-in(0.5s);

    opacity: var(--bg-opacity);
    // filter: blur(calc((1 - var(--bg-opacity)) * 5px));
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__content {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: opacity 0.25s;
  }

  &__info {
    position: fixed;
    opacity: var(--bg-opacity);
    z-index: 3;
    bottom: 5px;
    // left: calc((1 - var(--bg-opacity)) * -1 * 50px);
    left: 5px;
    color: var(--inverted-text-color);
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 40px;
    line-height: 1.1rem;

    .background__info-icon {
      margin-right: 5px;
    }

    .background__info-location {
      display: none;
      font-size: 1rem;
    }

    .background__info-user {
      display: none;
      font-size: 0.8rem;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.75);
      
      .background__info-location {
        display: block;
      }

      .background__info-user {
        display: block;
      }

      & + .background__content {
        opacity: 0;
      }
    }
  }

  &__image ~ &__content {
    // background-image: linear-gradient(
    //   to bottom,
    //   rgba(0, 0, 0, 0.25) 0,
    //   rgba(0, 0, 0, 0) 20%,
    //   rgba(0, 0, 0, 0) 40%,
    //   rgba(0, 0, 0, 0) 60%,
    //   rgba(0, 0, 0, 0)
    // );
  }
}
